<div class="wrapper">
  <header id="header">
    <a name="Home"></a>
  </header>

    <section>
      <a name="Picture"></a>
      <h2>The Latest Movies Brought Straight To You!</h2>
      <div class="row text-left">
        <div class="small-12 medium-6 columns">
          <img class="th" src="http://img.cinemablend.com/quill/7/8/6/9/b/d/7869bdc45fa0c3676fe8005d9c3864267b3d9002.jpg">
        </div>
        <div class="small-12 medium-6 columns">
          <h3>Always up to date...</h3>
          <p>
            Stream Director keeps up to date information on all of the latest
            movies available to stream. Search movies to see if they're
            available on Neflix, Amazon Prime, Hulu, or Apple TV! We do all of
            the searching so you don't have to.
          </p>
        </div>
      </div>
    </section>
</div>
