<hr />
<div id="search">
    <%= form_tag("/search", method: "post") do %>
    <%= text_field_tag(:userinput) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<div class="row index-row small-up-2 medium-up-3 large-up-4">
  <% @movies.each do |movie| %>
  <div class="column column-block">
    <div class"movie-card">
      <div class="overlay-container hvr-curl-top-right">
        <%= link_to image_tag(movie.image_url), movie_path(movie), id: "movie-link" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
