
<hr />
<div id="search">
  <%= form_tag("/search", method: "post") do %>
    <%= text_field_tag(:userinput) %>
    <%= submit_tag("Search", class: 'position')%>
  <% end %>
</div>
<div class="searched">
  <% @searched.each do |movie| %>
          <div class="overlay-container hvr-curl-top-right">
            <%= link_to image_tag(movie.image_url), movie_path(movie), id: "movie-link" %>
          </div>
  <% end %>
</div>
