<hr />
<div class="row index-row small-up-2 medium-up-3 large-up-4">
<% @movies.each do |movie| %>
  <% if movie.source.present? %>
    <% if movie.source.include?('netflix') %>
    <div class="column column-block">
      <div class"movie-card">
        <div class="overlay-container hvr-curl-top-right">
          <%= link_to image_tag(movie.image_url), movie_path(movie), id: "movie-link" %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>
