@import "settings";

.menu-icon{
  height: auto;
  width: 10em;
}

.page {
  margin: 0px;
  padding: 0px;
}
#header {
  margin: -20px;
  min-height: 620px;
  height: 100%;
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
