.center {
  text-align: center;
}
.menu-text {
  padding: 0px;
  margin: 0px;
}

.searched {
  margin-left: 35%;
}

#search {
  width: 45%;
  margin: 0 auto;
  float: center;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1%;
}

a .pic {
  max-width: 75px;
  max-height: 75px;
}

#size {
  width: 75px;
  height: 75px;
}
.position {
  margin-top: -3%;
  margin-left: 41.5%;
  margin-bottom: 1%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
  padding: 0px;
}

.center-text {
  margin: 10px 150px 10px 80px;
  text-align: center;
}

.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: #ffffff;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-right:hover:before, .hvr-curl-top-right:focus:before, .hvr-curl-top-right:active:before {
  height: 25px;
  width: 25px;
}
